
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Desc</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <a class="btn btn-info" href="/admin/gadgets/add" >Add New Gadget</a>
        <% if (gadgets.length==0) { %>
         <tr><td colspan="3">No Gadgets to display</td></tr>
        <% } %>
        <% for( let index = 0; index < gadgets.length; index++ ) { %>
            <tr>
                <td><%= gadgets[index].name %></td>
                <td><%= gadgets[index].desc %></td>
                <td><%= gadgets[index].price %></td>
                <td>
                    <a href="/admin/gadgets/edit/<%= gadgets[index]._id %>" class="btn btn-warning btn-sm">Edit</a>
                    <a href="/admin/gadgets/delete/<%= gadgets[index]._id %>" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
Showing Page: <%= page %>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/admin/gadgets/<%= page-1 %>">Previous</a></li>
      <% for( let index = 1; index <= totalPages; index++ ) { %>
        <li class="page-item"><a class="page-link" href="/admin/gadgets/<%= index %>"><%= index %></a></li>
      <% } %>
      
      <li class="page-item"><a class="page-link" href="/admin/gadgets/<%= page+1 %>">Next</a></li>
    </ul>
  </nav>